@import 'variables.css';

.item {
  width: 10%;
  min-width: 140px;
  margin: var(--spacing-sm);
  background-color: black;
  color: white;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
  height: 65%;
  display: block;
  border-radius: var(--border-radius-md);
}

.item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  overflow: hidden;
  justify-content: space-between;
}

.item-info p {
  font-size: var(--font-size-xl);
  margin: var(--spacing-sm) 0;
  text-align: center;
}

.item-info a {
  align-self: center;
}

/* TODO: */
.item .buy-button {
  font-size: var(--font-size-base);
  /* background-color: var(--success); */
  /* color: black; */
  /* border: none; */
  /* padding: var(--spacing-sm) var(--spacing-md); */
  /* border-radius: var(--border-radius-sm); */
  /* cursor: pointer; */
  /* text-align: center; */
  width: auto;
  align-self: center;
}