@import "variables.css";

.games_section {
	height: auto;
	min-height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
}

.games_section ul {
	list-style: none;
	padding: 0;
}

.games_section li {
	display: flex;
	margin-bottom: var(--spacing-sm);
	text-decoration: none;
	color: black;
	padding: var(--spacing-sm);
	text-align: center;
	align-items: center;
	border-radius: var(--border-radius-md);
	background-color: #ffffffd9;
	transition: background-color 0.3s;
	flex-wrap: nowrap;
}

.games_section span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.games_section h2 {
	padding: 0;
	text-align: center;
}
