
/*Common*/

body {
	margin: 0;
	font-family: inter;
}

.header {
  background-color: #1CEEE3;
  color: #fff;
  padding: 0 24px 0 24px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Jaro', sans-serif;
}

.title_img {
  width:  35px;
  height: 35px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.header-right a:hover {
  text-decoration: underline;
}

.game-hub {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.game-hub::before {
  content: "Game ";
  margin-right: 4px;
}

.game-hub::after {
  content: "Hub";
  background-color: red;
  color: #1CEEE3;
  padding: 5px 10px;
  border-radius: 25px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.content {
  padding: 20px;
}

.buy-button {
  background-color: lime;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
	font-size: 100%;
  cursor: pointer;
  float: center; 
}

.button_common {
  background-color: #6B6B6B;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  margin: 8px;
}

.button_common:hover {
	background-color: #6B6B6B;
}

.button_common.active {
	background-color: rgb(255, 0, 0);
	color: white;
}

label {
	display: block;
	margin-bottom: 5px;
}

/*Store*/

.search-bar {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 10px;
}

.search {
  margin-right: 10px;
  width: 300px; 
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-icon {
  margin-left: 0; 
  cursor: pointer;
}

.container_store {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.item {
  width: calc(10%);
	height: calc(10%);
	margin: 8px;
  background-color: black; 
  color: white;  
  border-radius: 5px;
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
	width: 100%;
	height: 100%;
	display: block;
}

.item-info {
  padding: 10px;
	font-size: 70%;
  text-align: center;
}


/*GAME*/

.body_gradient {
	height: 100%;
	background: linear-gradient(#1CEEE3 15%, red);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*GAME*/


.container_game {	
	max-width: 50%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.55);
	padding: 20px;
	border-radius: 25px;
}

.game_info {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.game_info img {
	width: 50%;
	height: 100%;
	vertical-align: middle;
	margin-right: 20px;
	border-radius: 10px;
}

/*USER*/

.container_user {
  max-width: 30%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.55);
	padding: 20px;
	border-radius: 25px;	
}

.user_info {
  display: flex;
	padding: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user_image {
  width:	124px;
  height: 124px;
  border-radius: 10px;
}

.user_info_text {
  font-size: 	18px;
  font-weight: bold;
}

.button_container {
  display: flex; 
	justify-content: space-between;
}

.section_user {
  background-color: #d3d3d3;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 100%;
	min-height: 60vh;
}

/*AUTHORISATION*/

.container_authorization {
  width: 300px;
  margin: 100px auto; /* Center the container */
  padding: 20px;
  border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h2_authorization {
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.55);
}

.toggle-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.button_common.authorization {
	width: 100%;
}

.registration-field {
	display: none; /* Hidden by default */
}

/*LIBRARY*/

.library_container {
	display: flex;
	flex-direction: row; 	/* Arrange items horizontally */
	height: calc(100vh - 161px); 				/* Subtract header height */
	width: 100%;
}

.sidebar {
	width: 20%;
	height: 100%;
	background: linear-gradient(#1CEEE3 15%, red);
	padding: 16px;
	overflow-y: auto;
	scrollbar-width: none
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar li {
	display: flex;
	margin-bottom: 10px;
}

.sidebar a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 8px;
	border-radius: 10px;
	background-color: #fff;
	transition: background-color 0.3s; 
}

.sidebar a:hover {
	background-color: #ddd;
}

.game_icon {
	width: 	32px; 
	height: 32px; 
	margin-right:5px;
	vertical-align: middle;
}

/*
.game_mini_page_gradient {
	height: 100%;
	background: linear-gradient(#1CEEE3 15%, red);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-y: auto;
}
*/

.container_game_mini {	
	height: 100%;
	width: 100%;
	overflow-y: auto;
	background: linear-gradient(#1CEEE3 15%, red);
	padding: 16px;
	scrollbar-width: none
}

.container_game_mini::-webkit-scrollbar {
  display: none;
}

/*CART*/

.container_cart {
	max-width: 30%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.55);
	padding: 20px;
	border-radius: 25px;
}

.cart_info {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.total {
	font-weight: bold;
	font-size: 18px;
	margin-right: 16px;
}

.button_common.pay {
	margin: 0 0 0 auto;
}

.cart-item {
	border-radius: 10px;
	display: flex;
	align-items: center;
	background-color: #D9D9D9;
	margin-bottom: 8px;
	padding: 8px;
}

.game-picture {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.game-info {
	flex: 1; /* Item takes remaining space */
}

.item-name {
	font-weight: bold;
}

.item-price {
	margin-left: auto;
}

.remove-button {
	margin-left: 10px;
	cursor: pointer; /* Indicate it's clickable */
}

