{% extends "base.html" %}
{% block content %}

<div class="main-content">
	<div class="container_library">
		<div class="sidebar">

			<div class="search-bar">
				<input type="text" class="search" placeholder="Search">
					<span class="search-icon">
						<img src={{url_for('static', filename='images/store-icons/search.png')}} alt="search"/>
					</span>
			</div>

			<ul>
				{% for game in user_games %}
					<li onclick="loadGameDetails({{ game.game_id }})">
						<img src={{url_for('static', filename='images/games/{gid}/{gpic}'.format(gid=game.game_id, gpic=game.icon))}} class="game_icon">
						<span>{{game.name}}</span>
					</li>
				{% endfor %}
			</ul>
					
		</div>

		<div id="game-details-container" class="container_game_mini"></div>
					
	</div>
</div>

<script src={{url_for('static', filename='javascripts/Library.js')}}></script>

{% endblock %}
