{% extends "base.html" %}
{% block content %}

<div class="main-content">
  <div class="search-bar">
    <input type="text" class="search" placeholder="Search">
      <span class="search-icon">
        <img src={{url_for('static', filename='images/store-icons/search.png')}} alt="search"/>
      </span>
  </div>

  <div id="games-container" class="container_store">
  	{% for game in games %}
      <div class="item">
        <img src="{{url_for('static', filename='images/games/{game_id}/{cover}'.format(game_id=game.game_id, cover=game.cover))}}" alt="Game Picture"> 
        <div class="item-info">
          <p>{{game.name}}</p>
          <a href="/game/{{game.game_id}}">
            <button class="buy-button">
                {% if game.price != 0 %}
                  {{ game.price // 100 }}.{{ game.price % 100 }} RUB
                {% else %}
                  FREE
                {% endif %}
            </button>
          </a>
        </div>
      </div>
    {% endfor %}
      
  </div>
    
  <button id="load-more-button" class="button_common store" data-last-game-id="{{ last_game_id }}">Show more</button>
</div>

<script src="{{ url_for ('static', filename='javascripts/Store.js') }}" defer></script>

{% endblock %}
