<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  <title>Game Hub</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/Styles.css') }}>

  </head>
	
	<body>
		<header class="header">
      <div class="header-left">
        <a href="/store">
          <img src={{url_for('static', filename='images/store-icons/home.png')}} class="title_img" alt="home page"/>
        </a>
        <a href="/library">
          <img src={{url_for('static', filename='images/store-icons/library.png')}} class="title_img" alt="library page"/>
        </a>
      </div>

      <h1 class="game-hub"></h1>

      <div class="header-right">
        <a href="/cart">
          <img src={{url_for('static', filename='images/store-icons/cart.png')}} class="title_img" alt="cart page"/>
        </a>
        <a href="/profile">
          <img src={{url_for('static', filename='images/store-icons/user.png')}} class="title_img" alt="user page"/>
        </a>
     </div>

    </header>

  <div class="main-content">
		<div class="container_cart">
			
			<div class="cart_info">
        <div class="total">Cost total: </div>
				<div class="total">{{total // 100}}.{{total % 100}} RUB</div>
        <form action="/cart/pay" method="POST">
          <button class="button_common pay" type="submit">
            Pay
          </button>
        </form>
      </div>

      <div class="cart-list">
        {% for game in games %}
        <div class="cart-item">
          <img src={{url_for('static', filename='images/games/{game_id}/{cover}'.format(game_id=game.game_id, cover=game.cover))}} alt="Game Icon" class="game-picture">
          <div class="game-info">
            <div class="item-name">{{game.name}}</div>
            <div class="item-price">{{game.price // 100}}.{{game.price % 100}} RUB</div>
          </div>

          <form action="/cart/remove/{{game.game_id}}" method="POST">
            <button class="remove-button"  type="submit">×</button>
          </form>
        </div>
        {% endfor %}
      </div>
	  </div>
  </div>
    
	</body>
</html>
