<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  <title>Game Hub</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/Styles.css') }}>

  </head>
	
	<body class="body_gradient">
		<header class="header">
    <div class="header-left">
      <a href="/store">
        <img src={{url_for('static', filename='images/home.png')}} class="title_img" alt="home page"/>
      </a>
      <a href="/library">
        <img src={{url_for('static', filename='images/library.png')}} class="title_img" alt="library page"/>
      </a>
    </div>

    <h1 class="game-hub"></h1>

    <div class="header-right">
      <a href="/cart">
        <img src={{url_for('static', filename='images/cart.png')}} class="title_img" alt="cart page"/>
      </a>
      <a href="/profile">
        <img src={{url_for('static', filename='images/user.png')}} class="title_img" alt="user page"/>
      </a>
    </div>

    </header>
		
		<div class="container_cart">
			
			<div class="cart_info">
        <div class="total">Estimated total: </div>
				<div class="total">10000$</div>
        <button class="button_common pay">Pay</button>
      </div>

      <div class="cart-item">
        <img src={{url_for('static',filename='images/board-game.png')}} alt="Game Icon" class="game-picture">
        <div class="game-info">
          <div class="item-name">Game name</div>
          <div class="item-price">Game price</div>
        </div>
        <span class="remove-button">×</span>
      </div>

	</div>

	</body>
</html>
