<div class="container_game">
	<div class="game_info">
		<div class="screenshots">
			<div class="selected_screenshot">
				<img src="{{url_for('static', filename='images/games/{game_id}/{cover}'.format(game_id=game.game_id, cover=game.cover))}}" id="selected_screenshot" alt="Game Image">
			</div>
			<div class="scroll_screenshots" id="scroll_screenshots">
				{% for screenshot in game.screenshots %}
					<img src="{{url_for('static', filename='images/games/{game_id}/{name}'.format(game_id=game.game_id, name=screenshot))}}" class="screenshot" alt="Game Screenshot" onclick="selectScreenshot(this)">
				{% endfor %}
			</div>
		</div>

		<div class="brief">
			<div class="game-name">
				<h1>{{game.name}}</h1>
			</div>
			
			<img src="{{url_for('static', filename='images/games/{game_id}/{cover}'.format(game_id=game.game_id, cover=game.cover))}}" alt="Game Image">

			<div class="details">
				<p align="justify">{{game.brief}}</p>
				<p><strong>Developers:</strong> <span>{{game.studio}}</span></p>
				<p><strong>Tags:</strong> 
				{% for tag in game.tags %}
					<span class="game-tag-text">{{tag}}</span>
				{% endfor %}
				</p>
			</div>
		</div>
	</div>

	<div class="description">
		<p>{{game.description | safe}}</p>
	</div>
</div>