<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Hub</title>
	<link rel="stylesheet" href="Styles.css">
</head>
	
<body class="body_game">
	<header class="header">
		<div class="header-left">
			<a href="#">
				<img src="res/images/home.png" class="title_img" alt="home page"/>
			</a>
			<a href="#">
				<img src="res/images/Library.png" class="title_img" alt="library page"/>
			</a>
		</div>

		<h1 class="game-hub"></h1>

		<div class="header-right">
			<a href="#">
				<img src="res/images/cart.png" class="title_img" alt="cart page"/>
			</a>
			<a href="#">
				<img src="res/images/user.png" class="title_img" alt="user page"/>
			</a>
		</div>
	</header>

	<div class="game">
		<div class="game_info">
			<img src="res/images/dota.jpg" alt="DOTA 2 Image">
			<div class="game-info">
				<p>Ежедневно миллионы игроков по всему миру сражаются от лица одного из более сотни героев Dota 2, и даже после тысячи часов в ней есть чему научиться. Благодаря регулярным обновлениям игра живёт своей жизнью: геймплей, возможности и герои постоянно преображаются.</p>
				<div class="details">
					<p><strong>Developers:</strong> <span>Valve</span></p>
					<p><strong>Tags:</strong> <span>MOBA, Free</span></p>
					<p><strong>Price:</strong> <span>	Free</span></p>
				 	<button class="buy-button">Buy</button>
				</div>
			</div>
		</div>

		<div class="game-name">
			<h1>Game Name</h1>
		</div>

		<div class="description">
			<p>Самая популярная игра в Steam</p>
			<p>Ежедневно миллионы игроков по всему миру сражаются от лица одного из более сотни героев Dota 2, и даже после тысячи часов в ней есть чему научиться. Благодаря регулярным обновлениям игра живёт своей жизнью: геймплей, возможности и герои постоянно преображаются.</p>
			<p>Одно поле боя, неиссякаемые возможности</p>
			<p>Игра может похвастаться бесконечным разнообразием героев, способностей и предметов, благодаря чему каждый матч уникален. Любой герой может исполнять множество ролей, и для каждой нужды найдутся подходящие предметы. Здесь вас ничто не ограничивает — вы сами выбираете, какой стратегии следовать.</p>
			<p>Все герои бесплатны</p>
			<p>Равные соревновательные возможности — главная гордость игры. Чтобы все находились в одинаковом положении, её основа — в частности, обширный список героев — доступна каждому игроку. Если хотите, вы можете коллекционировать предметы, видоизменяющие как героев, так и мир вокруг них, но всё необходимое для вашего первого матча уже есть в игре.</p>
			<p>Самая популярная игра в Steam</p>
			<p>Ежедневно миллионы игроков по всему миру сражаются от лица одного из более сотни героев Dota 2, и даже после тысячи часов в ней есть чему научиться. Благодаря регулярным обновлениям игра живёт своей жизнью: геймплей, возможности и герои постоянно преображаются.</p>
			<p>Одно поле боя, неиссякаемые возможности</p>
			<p>Игра может похвастаться бесконечным разнообразием героев, способностей и предметов, благодаря чему каждый матч уникален. Любой герой может исполнять множество ролей, и для каждой нужды найдутся подходящие предметы. Здесь вас ничто не ограничивает — вы сами выбираете, какой стратегии следовать.</p>
			<p>Все герои бесплатны</p>
			<p>Равные соревновательные возможности — главная гордость игры. Чтобы все находились в одинаковом положении, её основа — в частности, обширный список героев — доступна каждому игроку. Если хотите, вы можете коллекционировать предметы, видоизменяющие как героев, так и мир вокруг них, но всё необходимое для вашего первого матча уже есть в игре.</p>
			<p>Самая популярная игра в Steam</p>
			<p>Ежедневно миллионы игроков по всему миру сражаются от лица одного из более сотни героев Dota 2, и даже после тысячи часов в ней есть чему научиться. Благодаря регулярным обновлениям игра живёт своей жизнью: геймплей, возможности и герои постоянно преображаются.</p>
			<p>Одно поле боя, неиссякаемые возможности</p>
			<p>Игра может похвастаться бесконечным разнообразием героев, способностей и предметов, благодаря чему каждый матч уникален. Любой герой может исполнять множество ролей, и для каждой нужды найдутся подходящие предметы. Здесь вас ничто не ограничивает — вы сами выбираете, какой стратегии следовать.</p>
			<p>Все герои бесплатны</p>
			<p>Равные соревновательные возможности — главная гордость игры. Чтобы все находились в одинаковом положении, её основа — в частности, обширный список героев — доступна каждому игроку. Если хотите, вы можете коллекционировать предметы, видоизменяющие как героев, так и мир вокруг них, но всё необходимое для вашего первого матча уже есть в игре.</p>
			<p>Самая популярная игра в Steam</p>
			<p>Ежедневно миллионы игроков по всему миру сражаются от лица одного из более сотни героев Dota 2, и даже после тысячи часов в ней есть чему научиться. Благодаря регулярным обновлениям игра живёт своей жизнью: геймплей, возможности и герои постоянно преображаются.</p>
			<p>Одно поле боя, неиссякаемые возможности</p>
			<p>Игра может похвастаться бесконечным разнообразием героев, способностей и предметов, благодаря чему каждый матч уникален. Любой герой может исполнять множество ролей, и для каждой нужды найдутся подходящие предметы. Здесь вас ничто не ограничивает — вы сами выбираете, какой стратегии следовать.</p>
			<p>Все герои бесплатны</p>
			<p>Равные соревновательные возможности — главная гордость игры. Чтобы все находились в одинаковом положении, её основа — в частности, обширный список героев — доступна каждому игроку. Если хотите, вы можете коллекционировать предметы, видоизменяющие как героев, так и мир вокруг них, но всё необходимое для вашего первого матча уже есть в игре.</p>
		</div>
	</div>
	
</body>
</html>