<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Game Hub: Store</title>
  
  <link rel="stylesheet" href={{ url_for('static', filename='css/Styles.css') }}>
</head>
    
<body>
  <header class="header">
    <div class="header-left">
      <a href="/store">
        <img src={{url_for('static', filename='images/store-icons/home.png')}} class="title_img" alt="home page"/>
      </a>
      <a href="/library">
        <img src={{url_for('static', filename='images/store-icons/library.png')}} class="title_img" alt="library page"/>
      </a>
    </div>

    <h1 class="game-hub"></h1>

    <div class="header-right">
      <a href="/cart">
        <img src={{url_for('static', filename='images/store-icons/cart.png')}} class="title_img" alt="cart page"/>
      </a>
      <a href="/profile">
        <img src={{url_for('static', filename='images/store-icons/user.png')}} class="title_img" alt="user page"/>
      </a>
    </div>

  </header>

  <div class="main-content">
    <div class="search-bar">
      <input type="text" class="search" placeholder="Search">
        <span class="search-icon">
          <img src={{url_for('static', filename='images/store-icons/search.png')}} alt="search"/>
        </span>
    </div>

    <div class="container_store">
      {% for i in range(1) %}
      {% for game in games %}
      <div class="item">
        <img src="{{url_for('static', filename='images/games/{game_id}/{cover}'.format(game_id=game.game_id, cover=game.cover))}}" alt="Game Picture"> 
        <div class="item-info">
          <p>{{game.name}}</p>
          <a href="/game/{{game.game_id}}">
            <button class="buy-button">
                {% if game.price != 0 %}
                  {{ game.price }} RUB
                {% else %}
                  FREE
                {% endif %}
            </button>
          </a>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
      
    </div>
  </div>
    
</body>

</html>
