<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Game Hub</title>

  <link rel="stylesheet" href={{ url_for('static', filename='css/Styles.css') }}>
</head>
	
<body class="body_gradient">
	
	<header class="header">
		<div class="header-left">
			<a href="/store">
        <img src={{url_for('static', filename='images/store-icons/home.png')}} class="title_img" alt="home page"/>
			</a>
			<a href="/library">
        <img src={{url_for('static', filename='images/store-icons/library.png')}} class="title_img" alt="library page"/>
			</a>
		</div>

		<h1 class="game-hub"></h1>

		<div class="header-right">
			<a href="/cart">
        <img src={{url_for('static', filename='images/store-icons/cart.png')}} class="title_img" alt="cart page"/>
			</a>
			<a href="/user">
        <img src={{url_for('static', filename='images/store-icons/user.png')}} class="title_img" alt="user page"/>
			</a>
		</div>
	</header>
  <main class="content">
  <!-- User data -->
	<div class="container_user">
		<div class="user_info">
      <img src={{url_for('static', filename='images/profiles/test_user.jpg')}} alt="Profile Picture" class="user_image">
			<div class="profile-info">
				<div class="user_info_text ">Profile Name</div>
			</div>
			<div class="user_info_text ">Cash:<br/>0$</div>
			<button class="button_common">Edit</button>
		</div>

		<div class="button_container">
			<button class="button_common">Something</button>
			<button class="button_common">Workshop</button>
		</div>
		<div class="section_user">
			<p>Placeholder Content (will change based on button click - you'll implement this logic)</p>
		</div>
	</div>
  <!-- END USER DATA -->
  </main>
	
	
</body>
</html>
